<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<script type="text/html" id="adherentTemplate">
    <div class="tab-content">
        <nav class="navbar navbar-default navbar-lower" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse collapse-buttons">
                    <ul class="nav navbar-nav">
                        <!-- ko foreach : controller.adherent.datatypes -->
                        <li><a data-toggle="tab" data-bind="attr:{ href : $data.tab }, text:$data.label, click:$data.toggle"></a></li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- ko foreach : controller.adherent.datatypes -->
        <div class="tab-pane fade" data-bind="attr:{ id : $data.tabId }">
            <div class="container">
                <div class="row">
                    <h1 data-bind="text:$data.tabLabel"></h1>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- ko foreach : $data.fields-->
                            <th data-bind="text : $data.label"></th>
                            <!-- /ko -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach : { data : $data.resources, as :'resource' } -->
                        <tr>
                            <!-- ko foreach : { data : $parent.fields, as : 'fieldmd' } -->
                            <td data-bind="text : resource[fieldmd.id]"></td>
                            <!-- /ko -->
                            <td>
                                <button type="button" class="btn btn-default btn-md" data-bind="click:resource.toggleEditModal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button type="button" class="btn btn-default btn-md" data-bind="click:resource.toggleRemoveModal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                        <!-- /ko -->
                        <tr>
                            <!-- ko foreach : $data.fields-->
                            <td></td>
                            <!-- /ko -->
                            <td>
                                <button type="button" class="btn btn-default btn-md" data-bind="click:$data.toggleModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ko -->
    </div>
</script>
