<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- param : InputResourceController -->
<script type="text/html" id="inputTemplate">
    <!-- ko foreach : resourceFields -->
        <!-- ko if : $data.metadata.input -->
            <!-- ko if : $data.metadata.type === "datatype" -->
                <div class="modal-body-split">
                    <!-- ko if : $data.metadata.list -->
                        <div style="margin-left: 50px; margin-right: 50px">
                            <h4 data-bind="text:$data.metadata.label"></h4>
                        </div>
                        <div style="margin-left: 50px; margin-right: 50px" data-bind="template: { name: 'datatableTemplate', data: $data.pack }"></div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
            <!-- ko ifnot : $data.metadata.type === "datatype" -->
                <div class="form-group">
                <label for="activityLabel" class="col-sm-3 control-label" data-bind="text:$data.metadata.label">  </label>

                <!-- ko if : $data.metadata.type === "season" -->
                <span class="col-sm-8">
                    <span class="btn btn-default glyphicon glyphicon-chevron-left" data-bind="click:$data.data.decrement"></span>
                    <span class="btn btn-info" data-bind="text:$data.data.current"></span>
                    <span class="btn btn-default glyphicon glyphicon-chevron-right" data-bind="click:$data.data.increment"></span>
                </span>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "boolean" -->
                <div class="col-sm-8">
                    <input type="checkbox" class="form-control" data-bind="checked:$data.data">
                </div>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "float" -->
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-bind="textInput:$data.data">
                </div>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "long-string" -->
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" placeholder="Description (200 caractères max)" data-bind="textInput:$data.data">
                    </textarea>
                </div>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "short-string" -->
                <div class="col-sm-8">
                    <input type="text" class="form-control" data-bind="textInput:$data.data">
                </div>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "date" -->
                <div class="col-sm-8">
                    <input class="form-control" data-bind="datepicker:$data.data, datepickerOptions: { format : 'dd/mm/yyyy'}" />
                </div>
                <!-- /ko -->

                <!-- ko if : $data.metadata.type === "select" -->
                <div class="col-sm-8">
                    <select class="form-control" data-bind="options: $data.options, optionsText: $data.metadata.subtype.field, selectedOptions:$data.data"></select>
                </div>
                <!-- /ko -->
                </div>
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot : $data.metadata.input -->
            <!-- ko if : $data.metadata.type === "recursive" -->
                <div class="modal-body-split">
                    <div style="margin-left: 50px; margin-right: 50px">
                        <h4 data-bind="text:$data.metadata.label"></h4>
                    </div>
                    <div style="margin-left: 50px; margin-right: 50px; margin-bottom: 15px" data-bind="template: { name: 'recursiveListTemplate', data: $data.recursive }"></div>
                </div>
            <!-- /ko -->
            <!-- ko if : $data.metadata.type === "template" -->
                <div class="modal-body-split">
                    <div style="margin-left: 50px; margin-right: 50px">
                        <h4 data-bind="text:$data.metadata.label"></h4>
                    </div>
                    <div style="margin-left: 50px; margin-right: 50px" data-bind="template: { name: 'situationTemplate', data: $data.template }"></div>
                </div>
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</script>