<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!-- param : InputResourceController -->
<script type="text/html" id="situationTemplate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <span> Total à payer :</span>
                <span>
                    <label data-bind="text: total"></label>
                    <label> euros </label>
                </span>
            </div>
            <div class="col-sm-3">
                <span> Total déposé :</span>
                <span>
                    <label data-bind="text: totalDeposit"></label>
                    <label> euros </label>
                </span>
            </div>
            <div class="col-sm-3">
                <span> Total soldé/encaissé :</span>
                <span>
                    <label data-bind="text: totalSolded"></label>
                    <label> euros </label>
                </span>
            </div>
            <div class="col-sm-3">
                <span> Reste à payer :</span>
                <span>
                    <label data-bind="text: totalMissing"></label>
                    <label> euros </label>
                </span>
            </div>
        </div>
    </div>
</script>